name: Build and tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        
    - name: Install dependencies
      run: dotnet restore
      
    - name: Run build
      run: dotnet build --no-restore
      
    - name: Run Project1 tests
      run: dotnet test TestProject1/TestProject1.csproj --no-build --verbosity normal

    - name: Run Project2 tests
      run: dotnet test TestProject2/TestProject2.csproj --no-build --verbosity normal

    - name: Run Project3 tests
      run: dotnet test TestProject3/TestProject3.csproj --no-build --verbosity normal
